<div class="grid wide">
  <div class="row checkoutPage">
    <div class="col l-6 returnCart">
        <a href="/"> Tiếp tục mua sắm </a>
        <h1>Danh sách sản phẩm</h1>
        <div class="items">
          {{#each cart.products}}
          <div class="item">
            <img src="{{this.product.thumbnail.[0]}}" alt="">
            <div class="item__info">
              <div class="item__info__name">{{this.product.name}}</div>
              <div class="item__info__price"> {{formatCurrency this.product.price}}</div>
            </div>
            <div class="item__quantity">{{this.product_quantity}}</div>
            <div class="item__returnPrice">{{formatCurrency this.product.price}}</div>
          </div>
          {{/each}}
        </div>
    </div>

    <div class="col l-6 checkout">
        <h1>Checkout</h1>
        <form id="order">
          <div class="group">
            <label for="fullName" >Họ và tên</label>
            <input type="text" name="fullName">
          </div>
          <div class="group">
            <label for="phone" >Số điện thoại</label>
            <input type="text" name="phone">
          </div>
          <div class="group">
            <label for="address" >Địa chỉ</label>
            <input type="text" name="address">
          </div>
          <div class="group">
            <label for="" ></label>
            <select name="" id="">
              <option value="">TP.HCM</option>   
              <option value="">Hải Phòng</option>           
            </select>
          </div>
          <div class="group">
            <label for="" ></label>
            <select name="" id="">
              <option value="">Bình Chánh</option>   
              <option value="">Thủ Đức</option>           
            </select>
          </div>
        <div class="total">
          <div class="total-inner">
            <h2>Số lượng:</h2>
            <div class="totalQuantity">{{cart.total_quantity}}</div>
          </div>
          <div class="total-inner">
            <h2>Tổng tiền:</h2>
            <div class="totalPrice">{{cart.total_price}}</div>
          </div>
          <button type="submit" class="buttonCheckout" id="checkout">
            CHECKOUT
          </button>
        </div>
        </form>

        
    </div>

  </div>
</div>

<script>
  const orderForm = document.getElementById('order');
  orderForm.addEventListener('submit', async (e) => {
    e.preventDefault();
    const order = new FormData(orderForm);
    try {
            const response = await fetch('/order/create', {
              method: 'POST',
              body: order,
            });
            if(response.status == 201) {
              window.location.href = '/';
            }
            else {
              alert(await response.text());
            }
          } catch (error) {
            console.log(error);
          }
  })
</script>
