<!-- Begin slider -->
<section>
    <div class="slider" >
        <ul class="slider-dots">
            <li class="slider-dot active" data-index = "0"></li>
            <li class="slider-dot" data-index = "1"></li>
            <li class="slider-dot" data-index = "2"></li>
            <li class="slider-dot" data-index = "3"></li>
        </ul>
        <div class="slider-wrapper">
            <div class="slider-main">
                <div class="slider-item"> 
                    <img src="/image/baner-1.jpg" alt="">
                </div>
                <div class="slider-item">
                    <img src="/image/baner-2.jpg" alt="">
                </div>
                <div class="slider-item">
                    <img src="/image/baner-3.jpg" alt="">
                </div>
                <div class="slider-item">
                    <img src="/image/baner-1.jpg" alt="">
                </div>
            </div>
        </div>
        <img class="slider-next" src="/image/next.png" alt="">
        <img class="slider-prev" src="/image/prev.png" alt="">
    </div>
</section>
<!-- End slider -->

<!-- Begin banner -->
<section>
    <div class="banner" >
        <div class="banner-item"> 
            <img src="/image/banner.jpg" alt="">
        </div>
        <div class="banner-item">
            <img src="/image/banner-1.png" alt="">
        </div>
        <div class="banner-item">
            <img src="/image/banner.jpg" alt="">
        </div>
    </div>
</section>
<!-- end banner -->

<!-- Begin content -->
<div class="grid wide">
    <!-- Begin slick -->
    <div class="row slick">
        <div class="col l-12">
            <div class="row no-gutters slick-title">
                <h2>Xu hướng tìm kiếm</h2>
            </div>
            <div class="row no-gutters slick-content">
                <div class="slick-wrapper">
                    <div class="slick-main">
                        <div class="slick-item"> 
                            <div class="slick-item-inner">
                                <a href="" >
                                    <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                                    <span class="slick-item__title">Dây chuyền </span>
                                </a>
                            </div>
                        </div>

                        <div class="slick-item"> 
                            <div class="slick-item-inner">
                                <a href="">
                                    <span> 
                                    <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                                    </span>
                                    <span class="slick-item__title">Dây </span>
                                </a>
                            </div>
                        </div>

                        <div class="slick-item"> 
                            <div class="slick-item-inner">
                                <a href="">
                                    <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                                    <span class="slick-item__title">Dây </span>
                                </a>
                            </div>
                        </div>

                        <div class="slick-item"> 
                            <div class="slick-item-inner">
                                <a href="">
                                    <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                                    <span class="slick-item__title">Dây </span>
                                </a>
                            </div>
                        </div>

                        <div class="slick-item"> 
                            <div class="slick-item-inner">
                                <a href="">
                                    <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                                    <span class="slick-item__title">Dây </span>
                                </a>
                            </div>
                        </div>

                        <div class="slick-item"> 
                            <div class="slick-item-inner">
                                <a href="">
                                    <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                                    <span class="slick-item__title">Dây </span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <img class="slick-next" src="/image/next.png" alt="">
                <img class="slick-prev" src="/image/prev.png" alt="">
            </div>
        </div>
    </div>
    <!-- End slick -->

    <h2 style="font-size: 2rem;">Sản phẩm nổi bật</h2>
    <div class="row listProduct">
        {{#each products as |product|}}
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="/products/{{product.slug}}">
                        {{#each product.thumbnail as |thumbnail|}}
                        <img src="{{thumbnail}}" alt="">
                        {{/each}}
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="/product-detail/{{product.id}}">
                        <span>{{product.name}}</span>
                    </a>
                </div>
                <div class="component-product__price">{{product.price}}</div>
                <button class="component-product__btnAdd" id="{{product.sku}}">Thêm vào giỏ hàng</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- End content -->