<!-- Begin slider -->
<section>
    <div class="slider" >
        <ul class="slider-dots">
            <li class="slider-dot active" data-index = "0"></li>
            <li class="slider-dot" data-index = "1"></li>
            <li class="slider-dot" data-index = "2"></li>
            <li class="slider-dot" data-index = "3"></li>
        </ul>
        <div class="slider-wrapper">
            <div class="slider-main">
                <div class="slider-item"> 
                    <img src="/image/baner-1.jpg" alt="">
                </div>
                <div class="slider-item">
                    <img src="/image/baner-2.jpg" alt="">
                </div>
                <div class="slider-item">
                    <img src="/image/baner-3.jpg" alt="">
                </div>
                <div class="slider-item">
                    <img src="/image/baner-1.jpg" alt="">
                </div>
            </div>
        </div>
        <img class="slider-next" src="/image/next.png" alt="">
        <img class="slider-prev" src="/image/prev.png" alt="">
    </div>
</section>
<!-- End slider -->

<!-- Begin banner -->
<section>
    <div class="banner" >
        <div class="banner-item"> 
            <img src="/image/banner.jpg" alt="">
        </div>
        <div class="banner-item">
            <img src="/image/banner-1.png" alt="">
        </div>
        <div class="banner-item">
            <img src="/image/banner.jpg" alt="">
        </div>
    </div>
</section>
<!-- end banner -->

<!-- Begin content -->
<div class="grid wide">
    <!-- Begin slick -->
    <div class="row no-gutters" style="margin:10px 0;">
        <div class="stick-title">Xu hướng tìm kiếm</div>
        <div class="stick-wrapper">
            <div class="col l-2 m-4 c-0 ">
                <div class="slick-item">
                    <div class="slick-item-inner">
                        <figure>
                            <a href="">
                                <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                            </a>
                            <figcaption class="slick-item__title"><a href="">Dây chuyền</a></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l-2 m-0 c-0">
                <div class="slick-item">
                    <div class="slick-item-inner">
                        <figure>
                            <a href="">
                                <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                            </a>
                            <figcaption class="slick-item__title">Dây chuyền</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l-2 m-4 c-0">
                <div class="slick-item">
                    <div class="slick-item-inner">
                        <figure>
                            <a href="">
                                <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                            </a>
                            <figcaption class="slick-item__title">Dây chuyền</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l-2 m-0 c-0">
                <div class="slick-item">
                    <div class="slick-item-inner">
                        <figure>
                            <a href="">
                                <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                            </a>
                            <figcaption class="slick-item__title">Dây chuyền</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l-2 m-4 c-0">
                <div class="slick-item">
                    <div class="slick-item-inner">
                        <figure>
                            <a href="">
                                <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                            </a>
                            <figcaption class="slick-item__title">Dây chuyền</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col l-2 m-0 c-0">
                <div class="slick-item">
                    <div class="slick-item-inner">
                        <figure>
                            <a href="">
                                <img src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png" alt="">
                            </a>
                            <figcaption class="slick-item__title">Dây chuyền</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End slick -->

    <div class="listProduct-title">Sản phẩm nổi bậ<tt></tt></div>
    <div class="row listProduct">
        {{#each products as |product|}}
        <div class="col l-3 m-4 c-6">
            <div class="component-product">
                <div class="component-product__image">
                    <a href="/products/{{product.slug}}">
                        {{#each product.thumbnail as |thumb|}}
                        {{#if @first}}
                            <img src="{{thumb}}" alt="">
                        {{/if}}
                        {{/each}}
                        
                    </a>
                </div>

                <div class="component-product__title">
                    <a href="/product-detail/{{product.id}}">
                        <span>{{product.name}}</span>
                    </a>
                </div>
                <div class="component-product__price">{{product.price}}</div>
                <button class="component-product__btnAdd" onclick="addCart('{{product.sku}}')">Thêm vào giỏ hàng</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- End content -->