<div class="grid wide body-content">

    <div class="breadcrumb">
      <a href="/">Trang chủ</a>
      <span>&gt;</span>
      <a href="/search?category={{product.category}}">{{product.category}}</a>
      <span>&gt;</span>
      <a href="/search?material={{product.material}}">{{product.material}}</a>
      <span>&gt;</span>
      <a class="active">{{product.name}}</a>
    </div>
    <div class="row body-product">
      <!--Gallery -->
      <div class="col l-7 product-images">
        <div class="product-gallery">
          <div class="thumbnails">
              <button class="up-button"></button>
              {{#each product.thumbnail as |thumbnail|}}
              <img src="{{thumbnail}}" alt="Thumbnail 1" class="thumbnail">
              {{/each}}
          </div>
          <div class="main-image-outer">
              <img src="{{product.1.thumbnail}}" alt="Product Image 1" class="main-image">
          </div>
        </div>
      </div>
      <!--Gallery -->

      <!-- Details -->
      <div class="col l-4 product-details">

        <div class="product-name-wrapper">
          <img src="https://cdn.pnj.io/images/image-update/2022/10/pnjfast/PNJfast-Giaotrong3h.svg" alt="pnj" class="product-name-image">
          <h3 class="product-name">{{product.name}}</h3>
        </div>

        <div class="product-sku-wrapper">
          <h4 class="product-sku">Mã: {{product.sku}}</h4>
        </div>

        <div class="row product-price-wrapper">
          <div class="col l-6 ">
            <span class="product-price" id="price">{{#formatCurrency product.price}}{{/formatCurrency}}</span>
          </div>
        </div>

        <div class="product-selector">
          <h3 class="product-size-title">Chọn {{product.size_title}}:</h3>
          <div class="product-size-list">
            {{#each product.sizes}}
            <span class="product-size">{{this}}</span>
            {{/each}}
          </div>
        </div>

        <div class="row product-stock-wrapper">
            <span class="product-stock-status">Còn {{product.quantity}} sản phẩm</span>
        </div>
        <div class="add-to-cart-wrapper">
          <button class="add-to-cart-btn">
            <span class="add-to-cart-span-tittle"> Mua ngay</span>
            <span class="add-to-cart-span">Miễn phí giao hàng tận nhà hoặc nhận tại cửa hàng</span>
          </button>
        </div>

        <div class="row add-to-cart-wrapper" >
          <div class="col l-6">
            <button class="add-to-whilist-btn" onclick="addCart({{product.sku}})">
              
            </button>
          </div>

          <div class="col l-6">
            <button class="add-to-whilist-btn">
              <span class="add-to-cart-span-tittle"> <i class="fa fa-heart" aria-hidden="true"></i> Thêm vào yêu thích</span>
              <span class="add-to-cart-span">Dễ dàng xem lại sản phẩm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>

    <div class="modal-cart">
        <div class="cart__overlay"></div>
        <div class="cart">

                <div class="cart__title">
                    <h2>CART</h2>
                    
                </div>

                <div class="listCart">

                </div>

                <div class="buttons">
                    <button class="close">
                        EDIT ORDER
                        <img src="/image/edit.png" alt="" style="margin-left: 10px">
                    </button>
                    <button class="checkout">
                        <a href="/cart/checkout">CHECKOUT</a>
                    </button>
                </div>
        </div>
    </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const thumbnails = document.querySelectorAll('.thumbnail');
    const mainImage = document.querySelector('.main-image');

    thumbnails.forEach(thumbnail => {
        thumbnail.addEventListener('mouseover', () => {
            const thumbnailSrc = thumbnail.src;
            mainImage.src = thumbnailSrc;
        });
    });
});

</script>