<div class="grid wide container">
        <div class="row">
            <div class="content">
                <div class="content order">
                    <div class="content_order_title">
                        <h2>Đơn hàng</h2>
                    </div>
                    <div class="content_order_list">
                        <table class="order_table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Tên tài khoản</th>
                                    <th>SĐT liên lạc</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Tổng loại sản phẩm</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders as |orders|}}
                                <tr>
                                    <td>{{inc @index}}</td>
                                    <td>{{orders._id}}</td>
                                    <td>{{orders.username}}</td>
                                    <td>{{orders.phone}}</td>
                                    <td>{{orders.address}}</td>
                                    <td>{{formatDate orders.createAt}}</td>
                                    <td>{{formatCurrency orders.total_price}}</td>
                                    <td>{{orders.total_quantity}}</td>
                                    <td>{{orders.status}}</td>
                                    <td><button type="submit" class="detail_button" id="{{orders._id}}">Chi tiết</button></td>
                                </tr>
                                <tr class="id-{{orders._id}} hide_detail">
                                    <th colspan="1"></th>
                                    <th colspan="9">Thông tin sản phẩm</th>
                                </tr>
                                <tr class="id-{{orders._id}} hide_detail">
                                    <th colspan="2"></th>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Vật liệu</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng sản phẩm</th>
                                    {{#each orders.products as |products|}}
                                    <tr class="id-{{orders._id}} hide_detail">
                                        <td colspan="2"></td>
                                        <td>{{inc @index}}</td>
                                        <td>{{products.product.name}}</td>
                                        <td>{{products.product.sku}}</td>
                                        <td>{{products.product.category}}</td>
                                        <td>{{products.product.material}}</td>
                                        <td>{{formatCurrency products.product.price}}</td>
                                        <td>{{products.product_quantity}}</td>
                                    </tr>
                                    {{/each}}
                                </tr>
                                </div>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="edit-modal" class="modal">
        <form class="">
            <p>Mã đơn hàng</p>
            <p>Trạng thái đơn hàng</p>
            <select name="status" id="">
                <option value="0">Đang xử lý đơn hàng</option>
                <option value="1">Đã xác nhận đơn hàng</option>
                <option value="2">Đang giao</option>
                <option value="3">Đã giao thành công</option>
            </select>
            <input type="text" name="" id="">
        </form>
    </div>
    <script src="/js/admin-view.js"></script>
</div>