<div class="grid wide container">
        <div class="row">
            <div class="content">
                <div class="content product">
                    <div class="content_product_title">
                        <h2>Sản phẩm</h2>
                    </div>
                    <div class="content_product_list">
                        <table class="product_table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th>Vật liệu</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng kho</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products as |product|}}
                                <tr>
                                    <td>{{inc @index}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.sku}}</td>
                                    <td>{{product.category}}</td>
                                    <td>{{product.material}}</td>
                                    <td>{{formatCurrency product.price}}</td>
                                    <td>{{product.quantity}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="edit-modal" class="modal">
        <form class="">
            <p>Mã đơn hàng</p>
            <p>Trạng thái đơn hàng</p>
            <select name="status" id="">
                <option value="0">Đang xử lý đơn hàng</option>
                <option value="1">Đã xác nhận đơn hàng</option>
                <option value="2">Đang giao</option>
                <option value="3">Đã giao thành công</option>
            </select>
            <input type="text" name="" id="">
        </form>
    </div>
    <script src="/js/admin-view.js"></script>
</div>