
<div class="order-historyPage">
        <div class="grid wide container">
            <div class="row">
                <!-- - Begin  -->
                <div class="col l-3 m-4 c-12">
                    <div class="menu-profile">
                        <div class="menu-profile__info">
                            <div class="profile-avatar">
                                <img src="https://hasaki.vn/images/graphics/account-full.svg" alt="">
                            </div>
                            <div class="profile-name">
                                <strong>{{user.fullname}}</strong>
                            </div>
                            <a href="">Chỉnh sửa tài khoản</a>
                        </div>
                        <div class="menu-profile__list">
                            <div class="item-account">
                                <a href="/account" >Thông tin tài khoản</a>
                            </div>
                            <div class="item-account">
                                <a href="/orders-history" class="active">Đơn hàng của tôi</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col l-9 m-8 c-12">
                    <div class="content-profile">
                    <div class="grid wide container">
                        <div class="row">
                            <div class="content">
                                <div class="content order">
                                    <div class="content_order_title">
                                        <h2>Đơn hàng</h2>
                                    </div>
                                    <div class="content_order_list">
                                        <table class="order_table">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã đơn hàng</th>
                                                    <th>Tên tài khoản</th>
                                                    <th>SĐT liên lạc</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Ngày đặt hàng</th>
                                                    <th>Tổng tiền</th>
                                                    <th>Tổng loại sản phẩm</th>
                                                    <th>Trạng thái</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each orders as |orders|}}
                                                <tr>
                                                    <td>{{inc @index}}</td>
                                                    <td>{{orders._id}}</td>
                                                    <td>{{orders.username}}</td>
                                                    <td>{{orders.phone}}</td>
                                                    <td>{{orders.address}}</td>
                                                    <td>{{formatDate orders.createAt}}</td>
                                                    <td>{{formatCurrency orders.total_price}}</td>
                                                    <td>{{orders.total_quantity}}</td>
                                                    <td>{{orders.status}}</td>
                                                    <td><button type="submit" class="detail_button" id="{{orders._id}}">Chi tiết</button></td>
                                                </tr>
                                                <tr class="id-{{orders._id}} hide_detail">
                                                    <th colspan="1"></th>
                                                    <th colspan="9">Thông tin sản phẩm</th>
                                                </tr>
                                                <tr class="id-{{orders._id}} hide_detail">
                                                    <th colspan="2"></th>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Mã sản phẩm</th>
                                                    <th>Loại sản phẩm</th>
                                                    <th>Vật liệu</th>
                                                    <th>Đơn giá</th>
                                                    <th>Số lượng sản phẩm</th>
                                                    {{#each orders.products as |products|}}
                                                    <tr class="id-{{orders._id}} hide_detail">
                                                        <td colspan="2"></td>
                                                        <td>{{inc @index}}</td>
                                                        <td>{{products.product.name}}</td>
                                                        <td>{{products.product.sku}}</td>
                                                        <td>{{products.product.category}}</td>
                                                        <td>{{products.product.material}}</td>
                                                        <td>{{formatCurrency products.product.price}}</td>
                                                        <td>{{products.product_quantity}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tr>
                                                </div>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
                <!-- - End  -->
            </div>
        </div>
    </div>

<script>
    const buttons = document.querySelectorAll('.detail_button');

buttons.forEach(button => {
  button.addEventListener('click', (e) => {
    showDetail(e);
  })
})

function showDetail(button) {
  const id = '.id-' + String(button.target.id);
  const ordersDetail = document.querySelectorAll(id);
  ordersDetail.forEach(e => {
    if(e.classList.contains('hide_detail')) {
      e.classList.remove('hide_detail');
    }
    else{
      e.classList.add('hide_detail');
    }
  })
}
</script>